.mask {
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 999999999;
  width: 100vw;
  height: 100vh;
}

.center-children {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lessit-modal {

  position: absolute;
  top: 0;
  left: 0;

  flex-direction: column;
  gap: 25px;

  background-color: white;
  height: 200px;
  width: 400px;
  border-radius: 25px;
  border: 2px solid grey;
}
