:root {
  --lessit-animation-time: 0.5s;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999999;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;

  transition: backdrop-filter var(--lessit-animation-time);
  transition: background-color var(--lessit-animation-time);
}

.mask-hidden {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

.center-children {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lessit-modal {

  flex-direction: column;
  gap: 25px;
  pointer-events: visible;
  background-color: white;
  height: 200px;
  width: 400px;
  border-radius: 25px;
  border: 2px solid grey;
}
